<% provide(:title, 'Comunidad') %>
 	
<div class="center hero-unit">
  <h1>Bienvenido comunidad de ex becados</h1>

  <h2>
	Comunidad de exbecados	
  </h2>

  <%= link_to "Ingresar exbecado manualmente", nuevoexbecado_path , class: "btn btn-large btn-primary" %>
</div>
